
body {
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 30px;
}


html {
padding: 40px;
}

h1, h2, h3 {
    color: #288AE2;
}

p {
    font-size: 18px;
    padding-left: 20px;
}

li {
    font-size: 18px;

}